/* CSS để ảnh trong card luôn có chiều cao bằng nhau */
.card-img-top {
    width: auto;
    height: 100%;
    object-fit: cover;
    /* Giúp ảnh không bị méo */
}

/* CSS để căn giữa nội dung trong card */
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-img-top :hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.3);
    transition: all 0.3s ease;
}

.card-body :hover {
    color: #007bff;
    transition: color 0.3s ease;
}

.card :hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
}